.w-webflow-badge {
  visibility: hidden !important;
}

body.no--scroll {
  overflow: hidden;
}

#texture-canvas {
  /* border: 1px solid blue; */
  width: 36svh;
  height: 64svh;
}

#displacement-canvas {
  /* border: 1px solid blue; */
  width: 33svw;
  height: 20svw;
}

#mouse-displacement-canvas {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
}

#hero-displacement-canvas {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
}

#gol-canvas {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
}

/* DERIVA */

.canvas-wrapper {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
}

@media (min-width: 769px) {
  #webgl {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  #webgl {
    width: 100vw;
    height: auto;
  }
}

/* #webgl {
width: 100vw;
height: 100vh;
} */
