.w-webflow-badge {
  visibility: hidden !important;
}

#stripe_canvas {
  /* border: 1px solid blue; */
  width: 100svw;
  height: 101svh;
}

#filter_canvas {
  width: 100%;
  height: auto;
}

#padmi_canvas {
  width: 100svw;
  height: 100svh;
}

#hero-container {
  width: 100%;
  height: 100svh;
  /* Or set a fixed height if necessary */
}
