.w-webflow-badge {
  visibility: hidden !important;
}

#texture-canvas {
  /* border: 1px solid blue; */
  width: 36svh;
  height: 64svh;
}

#displacement-canvas {
  /* border: 1px solid blue; */
  width: 36svh;
  height: 64svh;
}
